[package]
name = "steno"
version = "0.1.0"
authors = ["David Pacheco <dap@oxidecomputer.com>"]
edition = "2018"

[profile.dev]
#panic = "abort"

[dependencies]
anyhow = "1.0.34"
async-trait = "0.1.42"
futures = "0.3.8"
petgraph = "0.5.1"
serde_json = "1.0"

[dependencies.chrono]
version = "0.4"
features = [ "serde" ]

[dependencies.serde]
version = "1.0"
features = [ "derive", "rc" ]

[dependencies.slog]
version = "2.5"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "1"
features = [ "full" ]

[dependencies.uuid]
version = "0.8.1"
features = [ "serde", "v4" ]

[dev-dependencies]
structopt = "0.3"
